extends layout

block content
    div(class='row marketing')
        div(class='col-md-12')
            h2 WS-Videostream
            hr
            p
                strong Video livestream over WebSockets in combination with the Firefox MediaSource Plugin.
            p Binary video data is being pushed over a websocket connection. On the client side the received data is collected with by the MediaSource plugin and played back by a HTML5 video player.