doctype html
html
  head
    title #{title}
    meta(charset="UTF-8")
    link(rel = 'stylesheet', href = '/css/bootstrap.min.css')
    link(rel = 'stylesheet', href = '/css/base.css')
  body
    div(class='hidden' id=ingress)

    div(class='container')
        div(class='header clearfix')
            h3(class='text-muted') Realtime Web-Communication
            ul(class='nav nav-tabs')
                li(role='presentation')
                    a(href='http://' + host + '/') Home
                li(role='presentation')
                    a(href='http://' + host + '/stream1') WS-Video Livestream 1
                li(role='presentation')
                    a(href='http://' + host + '/stream2') WS-Video Livestream 2
        div(class='jumbotron')
            h1 #{title}
            p(class='lead') #{teaser}
        block content