extends layout

block content
    div(class='row')

    div(class='row')
        div(class='col-md-6')
            video(width='640', height='480')

    script(type='text/javascript', src='/js/videoStreamClient.js')
