.jumbotron {
    padding-bottom: 8px;
    padding-top: 8px;
}

.jumbotron .heading {
    font-size: 50px;
}

.header .heading {
    border-bottom: none;
    margin-top: 11px;
}

.nav-tabs {
    border-bottom: none;
}

.first {
    padding-left: 0!important;
}

.row {
    margin: 10px 0;
}

.filler {
    border-bottom: 1px solid #ddd;
}

.btn-margin {
    margin: 0 0 0 20px;
}

.hidden {
    display: none;
    visibility: hidden;
}