.jumbotron {
    padding-bottom: 8px;
    padding-top: 8px;
}

.jumbotron h1 {
    font-size: 50px;
}

.header h3 {
    float: left;
    border-bottom: none;
    margin-top: 11px;
}

.nav-tabs {
    float: right;
}

.row {
    padding: 10px 0;
}

.btn-margin {
    margin: 0 0 0 20px;
}

.hidden {
    display: none;
    visibility: hidden;
}